body {
    margin: 0;
    font-family:Verdana, Geneva, sans-serif;
}

/* OKONOMILAPPEN : section */
#okonomilappen {

}

/* MENUWRAP : section */
#menuWrap {
	position:absolute;
	background-color:rgb(52, 73, 94);
	width:200px;
	border: 1px solid rgb(0,0,0,);
}
#menuWrap #slideMenu {
	
}
#slideMenu ul {
	list-style:none;
	margin:0;
	padding:0;
}
#slideMenu ul li {
	position:relative;	
	height:60px;
}

#slideMenu ul li a {
	position:absolute;
	width:180px;
	height:75%;
	color:rgb(255, 255, 255);
	font-size:1.4em;
	text-decoration:none;
	padding:15px 0px 0px 20px;
}

#slideMenu ul li a:hover{
	background-color:rgb(41, 128, 185);
}
#search {
    width: 100%;
    height:60px;
    background-color: rgb(52, 73, 94);
    border: 0px;
    padding:5px 10px 0px 15px;
    font-size: 1.4em;
    color: #fff;
}
#search:hover {
    background-color:rgb(41, 128, 185);
}

/* MAINCONTENT : section */
#mainContent{
	position:absolute;
}

#mianContent #mainHeader{}

#mainHeader h1{
	color:#fff;
}

#mainContent #menuBtn {
    width: 130px;
    position: absolute;
    cursor: pointer;
    left: 15px;
    top: 15px;
	z-index:1;
}
#mainContent #menuBtn div {
    width: 50px;
    float: left;
}
#mainContent #menuBtn div div {
    width: 100%;
    height: 8px;
    background-color: #34495e;
    margin-bottom: 7px;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#mainContent #menuBtn p {
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    font-size: 1.3em;
    color: #ecf0f1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#mainContent #menuBtn:hover div div {
    background-color: #ecf0f1;
}
#mainContent #menuBtn:hover p {
    color: #95a5a6;
}
	
#mainContent #welcomeMessage{
	top:40%;
	left:30%;
	width:100%;
	min-height:250px;
	height:auto;
	margin:auto;
	margin-top:10px;
	}
	
#welcomeMessage p {
	color:#000;
	margin:auto;
	text-align:center;
	padding:8% 10px 0px 10px;
}

#welcomeMessage a {
	width:250px;
	height:40px;
	font-size:1.3em;
	background-color:rgb(192, 57, 43);
	color:rgb(255, 255, 255);
	font-weight:bold;
	text-decoration:none;
	margin:15px;
	text-align:center;
	display:block;
	padding:15px 5px 0px 5px ;
	margin:20px auto;
}

#welcomeMessage a:hover {
	background-color:rgb(231, 76, 60);
}

#quiz{
	width:850px;
	height:400px;
	margin: 30px auto;
}

#quiz #question{
	font-size:1.3em;
	color:#000;
	text-align:center;
	margin:0px 0px 40px 0px
}

#quiz #alternatives{
	margin:auto;
	display:block;
	list-style:none;
}


#quiz #alternatives li{
    width: 210px;
    height: 60px;
    margin: 10px;
    padding: 20px;
	display:block;
	float:left;
	background-color:#34495e;
	font-size:0.7em;
	color:#FFF;
	text-align:center;
}	

#quiz #alternatives li:hover{
	background-color:#2980b9;
	cursor:pointer;
	}	

#progressionBar .progressBox {
    width: 40px;
    height: 40px;
    background-color: #eee;
    margin-left: 5px;
    display: inline-block;
}
#progressionBar .progressActive {
    background-color: #e67e22;
}

/* MAIN HEADER : header */
#mainHeader {
    height: 150px;
	background-color: rgb(44, 62, 80);
}
#mainHeader h1 {
    font-size: 3em;
    color: #FFF;
    text-align: center;
    padding: 40px 0px 0px 0px;
    margin: 0px;
}

/* MAIN FOOTER : footer */
#mainFooter {
    height: 100px;
    position: absolute;
    bottom: 0px;
}

@media handheld, screen and (max-width:500px){
    #menuWrap{
        width:150px;
    }
    #menuWrap ul li a{
	   width:130px;
	   font-size:1em;
    }
    #search {
        font-size: 1em;
    }
    #mainContent #menuBtn {
	   font-size:0.6em;
	   width:75px;
    }
    #mainContent #menuBtn p {
        display: none;
    }
    #quiz{
	   width:200px;
	   margin:auto;
    }
    #quiz #question{
	   font-size:1em;
    }
    #quiz #alternatives{
	   display:block;
	   padding:0;
	}
    #quiz #alternatives li{
    	width:160px;
    	display:block;
    	font-size:0.7em;
    }
    #mainHeader{
    	height:55px;
    }
    #mainHeader h1 {
        font-size: 1.4em;
        padding: 10px 0px 0px 0px;
    }	
}

@media screen and (max-width:1075px){
    #menuWrap{
        width:150px;
    }
    #menuWrap ul li a{
    	width:130px;
    	font-size:1em;
    }
    #mainContent #menuBtn{
        left: 10px;
        top: 6px;
    }
    #search {
        font-size: 1em;
    }
    #quiz{
    	width:350px;
    }
    #quiz #question{
    	font-size:1em;
    	color:#000;
    	text-align:center;
    	margin:0px 0px 40px 0px
    }
    #quiz #alternatives{
	   display:block;
	}
    #quiz #alternatives li{
    	width:75%;
    	display:block;
    	font-size:0.7em;
    }
    #mainHeader{
    	height:55px;
    }
    #mainHeader h1 {
        font-size: 1.5em;
        padding: 10px 0px 0px 0px;
    }
}
@media screen and (min-width:500px) and (max-width:575px){
    #mainContent #menuBtn p {
        display: none;
    }
}

@media screen and (min-width:500px) and (max-width:1024px){
    #mainContent #welcomeMessage {
        width: 95%;
    }
}

@media screen and (min:width:1075px){
    #menuWrap{
	   width:300px;
    }
    #menuWrap ul li a{
    	width:280px;
    }	
}